body {
    display: flex;
    justify-content: center;
    padding: 1rem;
    
}

.container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-4 {
    gap: 1rem;
}

.obj {
    border-radius: 10px;
    border: 1px solid rgb(71, 24, 2); 
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px; 
    
}

.box-1 {
    background-color: #7d2c03; 
    height: 200px; 
    width: 50vb;
}

.box-2 {
    background-color: #7d2c03; 
    height: 170px;
    width: 50vb;
}

.box-3 {
    background-color: #7d2c03; 
    height: 100px;
    width: 25vb;
}

.box-4 {
    background-color: #7d2c03; 
    height: 100px;
    width: 25vb;
}

.box-5 {
    background-color: #7d2c03; 
    height: 200px; 
  
}

.box-6 {
    background-color: #7d2c03; 
    height: 150px;
}

.box-7 {
    background-color: #7d2c03; 
}

.box-8 {
    background-color: #7d2c03; 
    height: 250px; 
    width: 50vb;
}

.box-9 {
    background-color: #7d2c03; 
    height: 250px; 
    width: 50vb; 
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-5 {
    flex-grow: 5;
}

.shrink-0 {
    flex-shrink: 0;
}
