* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vh;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9f4bf4;
    border: 2px solid #ddd;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}


.a {
    flex-basis: 15%;
    height: 45%;
    align-self: flex-end;
    border-radius: 40px;
}

.b, .c {
    flex-basis: 30%;
    height: 45%;
    align-self: flex-end;
    border-radius: 40px;
}

.d {
    flex-basis: 15%;
    height: 45%;
    border-radius: 40px;
}

.e {
    flex-basis: 15%;
    height: 50%;
    align-self: flex-end;
    border-radius: 40px;
}

.f {
    flex-basis: 60%;
    height: 50%;
    border-radius: 40px;
}

.g {
    flex-basis: 15.2%;
    height: 50%;
    border-radius: 40px;
}

.h {
    flex-basis: 15%;
    height: 30%;
    border-radius: 40px;
}

.i {
    flex-basis: 75.2%;
    height: 30%;
    border-radius: 40px;
}
